@model LibraryManagementSystem.Models.TblUser1
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New User</h2>
@using (Html.BeginForm("InsertUpdate", "User", FormMethod.Post))
{
    <table>
        <tr>
            @Html.HiddenFor(Model => Model.UserId)
            <td>@Html.LabelFor(Model => Model.Name)</td>
            <td>@Html.TextBoxFor(Model => Model.Name)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(Model => Model.Email)</td>
            @if (Model.UserId > 0)
            {
                <td>@Html.TextBoxFor(Model => Model.Email, new { @readonly = "readonly" })</td>
            }
            else
            {
                <td>@Html.TextBoxFor(Model => Model.Email)</td>
            }
        </tr>

        <tr>
            <td>@Html.LabelFor(Model => Model.Country)</td>
            <td>@Html.DropDownListFor(Model => Model.Country, new SelectList(Model.LstCountry, "CountryId", "CountryName"), "Choose Country", new { @onchange = "GetState()" })</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(Model => Model.State)</td>
            <td>@Html.DropDownListFor(Model => Model.State, new SelectList(Model.LstState, "StateId", "StateName"), "Choose State")</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(Model => Model.Gender, "Gender")</td>
            <td>
                @for (int i = 0; i < Model.LstGender.Count; i++)
                {
                    @Html.RadioButtonFor(Model => Model.Gender, Model.LstGender[i].GenderId) @Model.LstGender[i].GenderName
                }
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(Model => Model.Hobby)</td>
            <td>
                @for (int i = 0; i < Model.LstHobby.Count; i++)
                {
                    @Html.CheckBoxFor(Model => Model.LstHobby[i].IsHobby)
                    @Html.DisplayFor(Model => Model.LstHobby[i].HobbyName)
                    @Html.HiddenFor(Model => Model.LstHobby[i].HobbyName)
                }
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(Model => Model.Pass, "Password")</td>
            <td>@Html.TextBoxFor(Model => Model.Pass)</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="@ViewBag.btnName" name="Submit" /></td>
        </tr>

    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        let uid = @Model.UserId;
        if (uid != "0") {
            $("#State").prop("disabled", false);
        }
        else {
            $("#State").empty().append($('<option></option>').html("Choose State").val("0"));
            $("#State").prop("disabled", true);
        }
    });

    function GetState() {
        if ($("#Country").val() === '') {
            $("#State").empty().append($('<option></option>').html("Choose State").val("0"));
            $("#State").prop("disabled", true);
        }
        else {
            $.ajax({
                url: '../User/FetchState',
                type: 'post',
                data: { cid: $("#Country").val() },
                success: function (data) {
                    $("#State").prop("disabled", false);
                    $("#State").empty().append($('<option></option>').html("Choose State").val("0"))
                    data.forEach(function (item) {
                        $("#State").append($('<option></option>').html(item.StateName).val(item.StateId));
                    });
                },
                error: function () {
                    alert("State data not found!!");
                }
            });
        }
    }
</script>

